USERNAME=zhangbo
PASSWORD=zhangbo
PYTHON_BASE_IMAGE=docker.m.daocloud.io/library/python:3.12-slim-bookworm
TZ=Asia/Shanghai
AUTO_RELOAD=False
THREADS=1
PORT=80
WERSS_AUTH_WEB=False
PROXY_ENABLED=False
PROXY_HTTP_URL=
DB=mysql+pymysql://zhangbo:zhangbo@127.0.0.1:3306/we_mp_rss?charset=utf8mb4
